/* Sidebar */
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
/* Aklhir Sidebar */

/* FORM */
  .form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-tombol {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-tombol:hover {
    background-color: #45a049;
  }

  .kotak-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/* Akhir FORM */

/* TOMBOL */
  .btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-hijau {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-hijau:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-abu {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-abu:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }

  .btn-biru {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-biru:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .btn-merah {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-merah:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }

  .btn-kuning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  .btn-kuning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
/* Akhir TOMBOL */

/* TABLE */
  .kotak-table {
    overflow-x:auto;
  }

  .table-responsive {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  .table-responsive th, td {
    text-align: left;
    padding: 8px;
  }

  .table-responsive tr:nth-child(even){background-color: #f2f2f2}
/* Akhir TABLE */

/* TYPOGRAPY */
  .teks-rata-kanan {
    text-align: right !important;
  }
  .teks-rata-kiri {
    text-align: left !important;
  }
  .teks-rata-tengah{
    text-align: center !important;
  }
/* Akhir TYPOGRAPY */

/* GRID SISTEM */
  .margin-top-20 {
    margin-top: 20px !important;
  }
  .margin-top-50 {
    margin-top: 50px !important;
  }
  .margin-20-0 {
    margin: 20px 0 !important;
  }
  .margin-top-100 {
    margin-top: 100px !important;
  }
/* Akhir GRID SISTEM */